<h5>投稿が完了しました</h5>
<h1><%= @win %>さんの勝利です！</h1>
<h2>あなたの名前は<%= current_user.nickname %></h2>
<h2>あなたのレーティングは<%= @curr.raiting %></h2>
<h2>対戦相手の名前は<%= @opponame %></h2>
<h2>対戦相手のレーティングは<%= @oppo.raiting %></h2>

<a href="/tweets">投稿一覧に戻る</a>
